.container {
    text-align: center;
    background: #4703e6;
    .header {
    padding-top: 30px;
    color: #2f0691;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}
.social-links {
    margin: 14px;
}

.social-links a {
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}

.social-links a:hover {
    transform: scale(1.5);
}

.social-links a i {
    color: #3c06a0;
}



@media screen and (max-width: 600px) {
    .teams {
        max-width: 100%;
    }
}
}
